<div id="<%= dom_id course_module %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course_module.title %>
    <%= course_module.progress(current_user) %>
  </p>

</div>
