<div id="<%= dom_id course_module %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= course_module.title %>
    <%= course_module.progress(current_user) %>
    <% if course_module.completed?(current_user) %>
      <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Module Completed</span>
    <% end %>
  </p>

</div>
