<div id="<%= dom_id lesson %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= lesson.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Course module:</strong>
    <%= lesson.course_module_id %>
  </p>

</div>
